.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #e4ebe5;
}

.search_input {
    border: 1px solid;
    max-width: 80%;
    margin: auto;
}

.search_input:focus {
    outline: none;
    background: #e4ebe5;
}

.tag_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}